body,h1,h2,h3,h4,h5,h6,ul,li{
    margin: 0;padding: 0;font-weight: normal;
    list-style: none;
}
a{
    color: #000;
    text-decoration: none;
}
.fix{
    width: 100%;height: 50px;
    position: fixed;
    background: #fff5dc;
    z-index: 1;
}
/* 导航栏 */
.nav{
    width: 100%;height: 120px;
    position: absolute;
    left: 0;top: 50px;
    margin: auto;
}
.nav-0{
    width: 160;height: 42px;
    position: absolute;
    left: 350px;top: 50%;margin-top: -21px;
    font-size: 32px;
    text-align: center;
    float: left;
    font-weight: normal;
    color: #1e50ae;
    cursor: pointer;
}
.nav-right{
    width: 629px;height: 120px;
    margin-left: 50%;
}
.nav-1{
    width: 100px;height: 120px;
    border: 1px solid #fff ;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    line-height: 120px;
    cursor: pointer;
    float: left;
}
.nav-1:nth-child(1):hover{
    background: #1e50ae;
    color: #fff;
}
.nav-1:nth-child(3):hover{
    background: #1e50ae;
    color: #fff;
}
.nav-1:nth-child(5):hover{
    background: #1e50ae;
    color: #fff;
}
.nav-1:nth-child(6):hover{
    background: #1e50ae;
    color: #fff;
}
.nav-1:nth-child(7):hover{
    background: #1e50ae;
    color: #fff;
}
.nav-1:nth-child(8):hover{
    background: #1e50ae;
    color: #fff;
}
.banner{
    width: 100%;height: 300px;
    position: absolute;
    top: 170px;
    background: url(../img/18.jpg);
}
/* product */
.product{
    width: 100%;
    height: 1330px;
    position: absolute;
    top: 470px;
}
.product-top{
    width: 1200px;height: 192px;
    position:absolute ;
    top: 94px;left: 350px;
}
.product-top-item{
    width: 1170px;height: 54px;
    position: relative;
    left: 20px;
    box-shadow: 0 0 5px #d9d9d9;
    float: left;
    cursor: pointer;
}
.product-top-item-font-1{
    width: 65px;height: 54px;
    position: absolute;
    left: 22px;
    font-size: 16px;
    text-align: center;
    font-family: '微软雅黑';
    line-height: 54px;
    color: #000;
    float: left;
}
.product-top-item-font-2{
    width: 65px;height: 54px;
    position: absolute;
    right: 0;
    font-size: 20px;
    text-align: center;
    font-family: '微软雅黑';
    line-height: 54px;
    color: #b2b2b2;
    float: right;
}
.product-bottom{
    width: 1170px;height: 943px;
    position: absolute;
    top: 94px;left: 370px;
    box-shadow: 0 0 5px #d9d9d9;
}
.product-bottom-item{
    width: 262px;height: 287px;
    position: relative;
    margin: 12px 14px;
    float: left;
}
.product-bottom-img-1{
    width: 260px;height: 260px;
    position: absolute;
    float: left;
    border: 1px solid #f2f2f2;
    background: url(../img/27.jpg);
}
.product-bottom-img-2{
    width: 260px;height: 260px;
    position: absolute;
    float: left;
    border: 1px solid #f2f2f2;
    background: url(../img/28.jpg);
}
.product-bottom-img-3{
    width: 260px;height: 260px;
    position: absolute;
    float: left;
    border: 1px solid #f2f2f2;
    background: url(../img/29.jpg);
}
.product-bottom-font{
    width: 260px;height: 20px;
    position: absolute;
    text-align: center;
    margin-top: 267px;
    line-height: 20px;
    font-size: 14px;
    font-family: '微软雅黑';
}




/* 技术支持 */
.technical{
    width: 100%;height: 804px;
    position: absolute;
    top: 1800px;
    background: url(../img/7.jpg);
}
.technical-title-1{
    width: 311px;height: 48px;
    position: absolute;
    top: 185px;left: 400px;
    color: #fff;
    font-size: 36px;
    font-family: '微软雅黑';
    line-height: 48px;
}
.technical-title-2{
    width: 322px;height: 46px;
    position: absolute;
    top: 233px;left: 400px;
    color: #a1c1ee;
    font-size: 30px;
    font-family: '微软雅黑';
    line-height: 46px;
}
b{
    width: 64.81px;height: 40px;
    position: absolute;
    top: 280px;
    left: 400px;
    color: #a1c1ee;
    font-size: 30px;
}
.technical-img-top{
    width: 600px;height: 278px;
    position: absolute;
    left: 50%;top:100px;
}
.technical-img-top-1{
    width: 300px;height: 278px;
    float: left;
    background: url(../img/8.jpg);
}
.technical-img-top-2{
    width: 300px;height: 278px;
    float: right;
    background:#fff
}
.technical-img-bottom{
    width: 1200px;height: 278px;
    position: absolute;
    top: 378px;left: 50%;
    margin-left: -600px;
    float: left;
}
.technical-img-bottom-1{
    width: 300px;height: 278px;
    float: left;
    background:#fff
}
.technical-img-bottom-2{
    width: 300px;height: 278px;
    float: left;
    background: url(../img/9.jpg);
}
.technical-img-bottom-3{
    width: 300px;height: 278px;
    float: left;
    background: #fff
}
.technical-img-bottom-4{
    width: 300px;height: 278px;
    float: left;
    background: url(../img/10.jpg);
}
/* 底部 */
.bottom{
    width: 100%;height: 326px;
    position: absolute;
    top: 2604px;
    background: rgb(52,52,52)
}
.bottom-title{
    width: 722px;height: 26px;
    position: absolute;
    top: 53px;left: 50%;
    margin-left: -361px;
}
.bottom-title-item{
    width: 56px;height: 19px;
    margin-right: 50px;
    text-align: center;
    line-height: 19px;
    font-size: 14px;
    font-family: '微软雅黑';
    color: #b2b2b2;
}
.bottom-call{
    width: 1260px;height: 150px;
    position: absolute;
    top: 119px;
    left: 50%;
    margin-left: -630px;
    border-top: 2px solid rgb(60,60,60)
}
.bottom-call-1{
    width: 101px;height: 19px;
    position: absolute;
    top: 30px;left: 50%;
    margin-left: -50.5px;
    text-align: center;
    line-height: 19px;
    font-size: 14px;
    font-family: '微软雅黑';
    color: #737373;
}
.bottom-call-2{
    width: 204px;height: 45px;
    position: absolute;
    top: 50px;left: 50%;
    margin-left: -102px;
    text-align: center;
    line-height: 45px;
    font-size: 34px;
    font-family: '微软雅黑';
    color: #d9d9d9;
}